@import url("./aboutme.css");
@import url("./index.css");
@import url("./projects.css");
@import url("./CSS-Reset.css");
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bonheur+Royale&family=Lekton:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0c2f4b;
    padding: 10px;
}

#me {
    display: flex;
    align-items: center;
}

#name {
    font-family: "Bonheur Royale";
    padding-left: 30px;
    border-left: 1px solid white;
    margin-left: 20px;
    color: #e1e1e1;
    font-size: 40px;
    font-weight: 700;
}

.logo {
    width:60px;
    height: 60px;
    align-self: center;
}

#links {
    display: flex;
    align-items: center;
    gap: 50px;
}

#links a {
    font-size: 25px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 25% 10%;
    color: white;
    transition: all linear 300ms;
}

#chosen {
    color: orangered !important;
}

#links a:hover {
    color: #024d86;
    transition: all linear 300ms;
    background-color: white;
    box-shadow: 0 0 6px 6px #026ec0;
}

#logo-link {
    text-decoration: none;
}

footer {
    background-color: #0c2f4b;
    width: 100%;
    color: #e1e1e1;
    font-size: 20px;
    padding: 10px 30px;
    gap: 100px;
    display: flex;
    flex-direction: row;
}

#footer-text, #contacts {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: center; 
}

#contacts a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 300ms ease-in-out;
}

#contacts a img:hover {
    transform: scale(120%);
    transition: transform 300ms ease-in-out;
}