@import url("./aboutme.css");
@import url("./index.css");
@import url("./projects.css");
@import url("./CSS-Reset.css");
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bonheur+Royale&family=Lekton:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0c2f4b;
    padding: 10px;
    font-size: 16px;
}

#me {
    display: flex;
    align-items: center;
}

#name {
    font-family: "Bonheur Royale";
    padding-left: 30px;
    border-left: 1px solid white;
    margin-left: 20px;
    color: #e1e1e1;
    font-size: 2.5em;
    font-weight: 700;
}

.logo {
    width: 3.75em;
    height: 3.75em;
    align-self: center;
}

#links {
    display: flex;
    align-items: center;
    gap: 3em;
}

#links a {
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    border-radius: 25% 10%;
    color: white;
    transition: all linear 300ms;
}

#menu {
    width: 3em;
    height: 3em;
    display: none;
}

#chosen {
    color: orangered !important;
}

#links a:hover {
    color: #024d86;
    transition: all linear 300ms;
    background-color: white;
    box-shadow: 0 0 6px 6px #026ec0;
}

#logo-link {
    text-decoration: none;
}

footer {
    background-color: #0c2f4b;
    width: 100%;
    color: #e1e1e1;
    font-size: 20px;
    padding: 10px 30px;
    gap: 6em;
    display: flex;
    flex-direction: row;
}

#footer-text, #contacts {
    display: flex;
    align-items: center;
    gap: 1.8em;
    flex: 1;
    justify-content: center; 
}

#contacts a img {
    width: 2.5em;
    height: 2.5em;
    object-fit: contain;
    transition: transform 300ms ease-in-out;
}

#contacts a img:hover {
    transform: scale(120%);
    transition: transform 300ms ease-in-out;
}

@media (min-width: 769px) and (max-width: 1024px) {
    nav {
        font-size: 14px;
    }
    footer {
        font-size: 14px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    nav {
        font-size: 14px;
    }


    #links {
        display: none;
        position: fixed;
        flex-direction: column;
        border-radius: 10px;
        top: 60px;
        right: 5%;
        background-color: black;
        gap: 1em;
    }

    #links a{
        font-size: 1.2em
    }

    #menu {
        display: block;
        position: absolute;
        right: 10%;
    }

    footer {
        font-size: 12px;
        flex-direction: column;
        gap: 2em;
    }
}

@media (max-width: 480px) {
    nav {
        font-size: 10px;
        justify-content: flex-start;
    }

    #me {
        margin-left: 20px;
    }

    #links {
        display: none;
        position: fixed;
        flex-direction: column;
        border-radius: 10px;
        top: 60px;
        right: 5%;
        background-color: black;
        gap: 1em;
    }

    #links a{
        font-size: 1.2em
    }

    #menu {
        display: block;
        position: absolute;
        right: 10%;
    }

    footer {
        font-size: 10px;
        gap: 2em;
    }
}